<div class="card">
  <h2 [ngStyle]="{
    color: card.title.length < 5 ? 'green' : 'blue',
    fontWeight: card.title.length > 10 ? 'normal' : 'bold'
  }">{{card.title}}</h2>
  <p class="text" [ngClass]="{
    blue: textColor === 'blue',
    red: textColor === 'red',
    green: textColor === 'green'
  }">{{card.text}}</p>

<div class="buttons">
  <button (click)="textColor = 'blue'">Set Blue</button>
  <button (click)="textColor = 'red'">Set Red</button>
  <button (click)="textColor = 'green'">Set Green</button>
</div>

  <div>
    <input type="text" [(ngModel)]="card.title" (ngModelChange)="changeHandler()">
  </div>
</div>